.vscode
.vscode/arduino.json
**/[Ss]ecret.h
__pycache__/
# Ignore all .pyc files
*.pyc

# Ignore __pycache__ directories
__pycache__/

# Ignore __pycache__ directories at any level
**/__pycache__/

# Ignore specific compiled Python files for specific versions
__init__.cpython-*.pyc
